<!DOCTYPE html>
<html lang="en">

<head>
    <title>DASHMIN - Bootstrap Admin Template</title>
    {% include 'includes/cssfiles.html' %}
</head>

<body>
<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    {% include 'includes/spinner.html' %}
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    {% include 'includes/sidebar.html' %}
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        {% include 'includes/header.html' %}
        <!-- Navbar End -->


        <!-- Sale & Revenue Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-user-md fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Medecines</p>
                            <h6 class="mb-0">{{ nbdocteur }}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-user-injured fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Patients</p>
                            <h6 class="mb-0">{{nbpatients}}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-user fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Admins</p>
                            <h6 class="mb-0">{{nbadmins}}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-calendar-alt fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Rendez-vous</p>
                            <h6 class="mb-0">{{nbrndezvous}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sale & Revenue End -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Rendez-vous d'aujourd'hui</h6>
                </div>
                <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                        <tr class="text-dark">
                            <th scope="col">Patient</th>
                            <th scope="col">Medecine</th>
                            <th scope="col">Date</th>
                            <th scope="col">Annuler</th>
                            <th scope="col">Consultation type</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for d in page_obj.object_list %}
                            <tr>
                                <td>{{ d.patient.nom }} {{ d.patient.prenom }}</td>
                                <td>{{ d.medecin.nom }} {{ d.medecin.prenom }}</td>
                                <td>{{ d.date }}</td>
                                <td>{{ d.anuuler }}</td>
                                <td>{{ d.consultation.type }}</td>
                                {#                                <td>{{ d.specialite }}</td>#}
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination mt-3">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" style="font-size: 13px"
                                       href="?page={{ page_obj.previous_page_number }}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for p in page.page_range %}
                                <li class="page-item {% if p == page_obj.number %} active {% endif %}"><a
                                        class="page-link"
                                        href="?page={{ p }}">{{ p }}</a>
                                </li>
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>

                </div>
            </div>
        </div>


        <!-- Footer Start -->
        {% include 'includes/footer.html' %}
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- JavaScript Libraries -->
{% include 'includes/jsfiles.html' %}
</body>

</html>